Checks: > 
        modernize-*,abseil-*,performance-*,
        -modernize-use-trailing-return-type,
        -performance-no-int-to-ptr,
        bugprone-*,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-narrowing-conversions,
        -modernize-deprecated-headers,
        -modernize-use-nodiscard,
        -bugprone-easily-swappable-parameters,
        -bugprone-switch-missing-default-case,
        bugprone-use-after-move
