*
!sources/*
!test/*
!.github/*
!cmake-modules/*
!overlay_triplets/*
!*.proto
!_clang-format
!.clang-tidy
!.cmake-format.py
!.gitignore
!build.py
!CMakeLists.txt
!format.sh
!LICENSE.modules
!main.cpp
!*.manifest
!vcpkg.json
