name: C/C++ CI

on:
  pull_request:
  push:
    branches:
      - '**'
env:
  PYTHONUTF8: 1

jobs:
  build-ubuntu:
    runs-on: ubuntu-22.04
    timeout-minutes: 35
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: install
        run: sudo apt-get install fuse libfuse-dev
      - name: vcpkg build
        id: vcpkg
        uses: johnwason/vcpkg-action@v6
        with:
          manifest-dir: ${{ github.workspace }}
          triplet: x64-linux
          token: ${{ github.token }}
          github-binarycache: true
      - name: build-test
        run: |
          python3 build.py --enable_unit_test --enable_integration_test --vcpkg_root=${{ github.workspace }}/vcpkg --build_root=./build --build_type Debug
          ./build/securefs doc > docs/usage.md
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: build/securefs
          name: securefs-linux-amd64
      - name: Create PR to update usage.md
        if: ${{ github.event_name == 'push' }}
        uses: peter-evans/create-pull-request@v6
        with:
          add-paths: docs/
          title: Auto PR for usage.md
          commit-message: Auto update usage.md
  build-mac:
    runs-on: macos-13
    timeout-minutes: 35
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: pip
        run: pip install xattr
      - name: install
        run: brew install macfuse
      - name: vcpkg build
        uses: johnwason/vcpkg-action@v6
        id: vcpkg
        with:
          manifest-dir: ${{ github.workspace }}
          triplet: x64-osx
          token: ${{ github.token }}
          cache-key: macos-13-x64
          github-binarycache: true
      - name: build
        run: python3 build.py --enable_unit_test --vcpkg_root=${{ github.workspace }}/vcpkg --triplet=x64-osx --build_root=./build --build_type Debug
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: build/securefs
          name: securefs-macos-amd64

  build-mac-arm64:
    runs-on: macos-13
    timeout-minutes: 35
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: pip
        run: pip install xattr
      - name: install
        run: brew install macfuse
      - name: vcpkg build
        uses: johnwason/vcpkg-action@v6
        id: vcpkg
        with:
          manifest-dir: ${{ github.workspace }}
          triplet: arm64-osx
          token: ${{ github.token }}
          cache-key: macos-13-arm64
          github-binarycache: true
      - name: build
        run: python3 build.py --vcpkg_root=${{ github.workspace }}/vcpkg --triplet=arm64-osx --build_root=./build --cmake_defines CMAKE_OSX_ARCHITECTURES=arm64 --build_type Debug
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: build/securefs
          name: securefs-macos-arm64

  build-windows:
    runs-on: windows-2019
    timeout-minutes: 35
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: Enable Developer Mode
        run:  reg add HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock /t REG_DWORD /f /v AllowDevelopmentWithoutDevLicense /d 1
      - name: install
        run: choco install winfsp
      - name: vcpkg build
        uses: johnwason/vcpkg-action@v6
        id: vcpkg
        with:
          manifest-dir: ${{ github.workspace }}
          triplet: x64-windows-static-md
          token: ${{ github.token }}
          cache-key: windows-latest
          github-binarycache: true
      - name: build-test
        run: python3 build.py --clang_cl --enable_unit_test --enable_integration_test --vcpkg_root=${{ github.workspace }}/vcpkg --triplet=x64-windows-static-md --build_root=./build --build_type Debug
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          path: build/Debug/securefs.exe
          name: securefs-windows-amd64
